[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = git@github.com:eightyeight/vim-pandoc.git
[submodule "bundle/vim-torquescript"]
	path = bundle/vim-torquescript
	url = git@github.com:eightyeight/vim-torquescript.git
[submodule "bundle/vim-taml"]
	path = bundle/vim-taml
	url = git@github.com:eightyeight/vim-taml.git
